@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* Reset default styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background: #f6f7f9;
}

/* Navbar Styling */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white; /* Blue background */
  display: flex;
  justify-content: space-between; /* Align items to the left */
  align-items: center;
  padding: 20px;
  z-index: 1000;
}

/* Logo Image Styling */
.logo img {
  height: 20px; /* Adjust the size of the logo */
  width: 100px; /* Maintain aspect ratio */
}

.logo-search-wrapper {
  display: flex;
  align-items: center;
  gap: 60px;
}

.search-wrapper {
  min-width: 492px;
  border-radius: 40px;
  border: solid 1.5px #c3d4e966;

  position: relative;
}

.search-wrapper .search-input {
  width: 100%;
  height: 100%;
  padding: 12px 18px;
  background: transparent;
  outline: none;
  border: none;
  font-size: 14px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  margin-left: 30px;
  overflow: hidden;
}

.search-icon {
  position: absolute;
  top: 12px;
  left: 10px;
  width: 20px;
  cursor: pointer;
}

.filter-icon {
  position: absolute;
  right: 16px;
  top: 12px;
  width: 20px;
  cursor: pointer;
}

.nav-links-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links-wrapper img {
  cursor: pointer;
}

.notification-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.notification-indicator {
  width: 10px;
  height: 10px;
  background-color: #ff4423;
  border-radius: 6px;

  position: absolute;
  top: -5px;
  right: -3px;
}
